*{
  font-family: Ralewy,sans-serif;
}

body{
 margin:20px 20px 10px 70px
}

figure{
  display:inline-block;
  right:0px;
  position: relative;
}

figure img{
    filter: brightness(70%);
    transition: 0.4s;
}

figure img:hover{
  filter: brightness(120%);
}

nombre{
    position: relative;
    text-align: right;
    bottom: 37px;
    left: 165px;
    color: white;
}

#contenedor{
  position: relative;
  margin: 5px;
}
h1{
  margin-left: 41px;
}

h1::after{
  display: block;
  width: 120px;
  margin-top: 10px;
  height: 8px;
  content: "";
  background-color: black;
}

.imagenes{
  width: 328px;
  height: 100px;
}
